# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* Popular languages used by data scientist
* Commonly used libraries
* Table creation 
* Simple arithmetic expresssion

**Some of the popular languages that Data Scientists use are:**

1. PYTHON
2. R
3. SQL
4. JAVA
5. SCALA
6. JULIA

**Some of the commonly used libraries used by Data Scientists include:**

1. PANDAS
2. NUMPY
3. MATPLOTLIB
4. SEABORN
5. SKLEARN
6. DPLYR
7. STRINGR
8. GGPLOT
9. CARET

| Data Science Tools |
| -------------------|
| Jupyter Notebook |
| Pytorch |
| Apache Spark|
| Apache Hadoop |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5  # this a simple arithmetic expression to mutiply then add integers

17

In [3]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Abubakar nana Aishah